@using Smartstore.Web.Models.Customers
@using Smartstore.Utilities.Html
@using Smartstore.Core.Checkout.Orders

@model CustomerReturnCasesModel

@{
    Layout = "_MyAccount";

    Assets.AppendTitleParts(T("PageTitle.Account"));

    ViewBag.PageClassToken = "returncases";
    ViewBag.PageTitle = T("Account.CustomerReturnRequests").Value;
}

<ul class="return-cases-grid list-unstyled" aria-labelledby="myaccount-header">
    @foreach (var item in Model.ReturnCases)
    {
        var isWithdrawal = item.Kind == ReturnCaseKind.Withdrawal;
        <li class="returncase-item mb-3" aria-labelledby="returncase-title@(item.Id)">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div id="returncase-title@(item.Id)" class="card-title h4 mb-4">
                        @if (isWithdrawal)
                        {
                            @T("Account.Withdrawal.Title", item.Id)
                        }
                        else
                        {
                            @T("Account.CustomerReturnRequests.Title", item.Id, item.ReturnCaseStatusStr)
                        }
                    </div>
                    <dl class="row mb-0" role="presentation">
                        <dt class="col-sm-4 fwn text-muted">@T("Account.CustomerReturnRequests.Item")</dt>
                        <dd class="col-sm-8">
                            <a href="@item.ProductUrl" title="@T("Products.Details")" sm-language-attributes-for="item.ProductName">@item.ProductName</a>
                        </dd>
                        <dt class="col-sm-4 fwn text-muted">@T("ReturnRequests.Products.Quantity")</dt>
                        <dd class="col-sm-8">@item.Quantity</dd>
                        @if (!isWithdrawal)
                        {
                            <dt class="col-sm-4 fwn text-muted">@T("Account.CustomerReturnRequests.Reason")</dt>
                            <dd class="col-sm-8">@item.ReasonForReturn</dd>
                            <dt class="col-sm-4 fwn text-muted">@T("Account.CustomerReturnRequests.Action")</dt>
                            <dd class="col-sm-8">@item.RequestedAction</dd>
                        }
                        <dt class="col-sm-4 fwn text-muted">@T("Account.CustomerReturnRequests.Date")</dt>
                        <dd class="col-sm-8">
                            <time asp-for="@item.CreatedOn" sm-format="f"></time>
                        </dd>
                        @if (item.CustomerComments.HasValue())
                        {
                            <dt class="col-sm-4 fwn text-muted">@T("Account.CustomerReturnRequests.Comments")</dt>
                            <dd class="col-sm-8" dir="auto">@Html.Raw(HtmlUtility.ConvertPlainTextToHtml(item.CustomerComments))</dd>
                        }
                    </dl>
                </div>
            </div>
        </li>
    }
</ul>
